
    .text{
        color:rgba(224, 184, 4, 0.883);
      }

    .text1{
        color:black;
    }
    .text2{
        color:white;
    }

.whole{
    background:url(img/background.jpg);
    background-size: cover;
}

.background{
    background-color:white;
}

.ic{
    color: rgb(3, 243, 3);
}